:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.homeText {
  border: none;
  text-align: center;
  font-size: large;
  translate: 0 50%;
  & > a {
    font-weight: 100;
    color: #349cff;
    cursor: pointer;
  }
}

.container {
  max-width: 955px;
  margin: auto;
  margin-top: 3vh;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 0px #94cfff43;
  padding: 20px;
  overflow-y: auto;
}

.msg {
  max-width: 35%;
  margin: 17px 2px;
  border-radius: 10px;
  padding: 10px;
  overflow-wrap: break-word;
}
.left {
  float: left;
  clear: both;
  background-color: #349cff;
  border-radius: 0px 10px 10px 10px;
  box-shadow: -3px 3px 17px 2px #94cfff43;
}
h1 {
  margin: 0;
  font-size: medium;
  border-bottom: 1px solid white;
}
p {
  margin: 0;
}
.right {
  float: right;
  clear: both;
  background-color: #45cd45;
  border-radius: 10px 0px 10px 10px;
  box-shadow: 3px 3px 17px 2px #94cfff43;
}
.center {
  max-width: 24%;
  background-color: #585858;
  color: #adadad;
  margin: auto;
  margin-top: 17px;
  text-align: center;
}

.containerInp {
  max-width: 955px;
  margin: auto;
  margin-top: 10px;
  height: 10vh;
  /* border: 1px solid black; */
}

#sendMsgForm {
  max-width: 988px;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  /* height: 10vh; */
  display: flex;
}
#msgInp {
  width: 100%;
  margin-right: 10px;
  background-color: #bdbdbd30;
  border-radius: 30px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  &:focus {
    /* background-color: red; */
    border: none;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  &::placeholder {
    /* padding-left: 10px; */
    color: rgba(128, 128, 128, 0.566);
  }
}
.btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(0, 106, 255);
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: rgb(0, 95, 229);
  }
}
i {
  color: white;
}
